<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="auth_section">
      <form method="POST">
        {% csrf_token %}
        <div class="auth_container">
          <h1>Signup</h1>
          <br><br><br>
          <input type="email" class="auth_input" placeholder="Enter email address" name="email" id="email" required /><br />

          <input type="text" class="auth_input" placeholder="Enter mobile number" name="phone_number" id="phone_number" required /><br />

          <input type="password" class="auth_input" placeholder="Create password" name="password" id="password" required /><br />

          <input type="password" class="auth_input" placeholder="Confirm password" name="confirm_password" id="confirm_password" required /><br />
           
          <button type="submit" class="auth_button">Register</button>
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}
          <div class="container signin">
            <p>
              Already have an account? <a href="/login_page">Sign in</a>.
            </p>
          </div>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </body>
</html>
